{% load feinheit_base feinheit_thumbnail %}
{% for object in object_list %}
<div class="event" {% context_menu object %}>
    <div class="event-text {% if object.image %}span-11{% else %}span-15{% endif %}">
        {{ object.datetime|date:"SHORT_DATE_FORMAT" }} {{ object.datetime|time:"H:i" }}<br />
        <a class="ausklapp h2" href="#{{ object.translation.slug }}" id="a{{ object.translation.slug }}" name="a{{ object.translation.title }}">{{ object.translation.title }}</a>
        <div class="ausklapp_content">
            {{ object.translation.description|safe }}
        </div>
    </div>          
    {% if object.image %}
    <div class="event-image span-4 last">
       <a href="{{ object.image.file.url }}" class="image">
		<img src="{{ object.image.file.name|cropscale:'150x180' }}" alt="" />
	   </a>
	</div>
    {% endif %}
</div>
{% endfor %}

{% comment %}
Aufklapp JS:
Benötigt jQuery.scrollTo für scrollTo.
<script>
$(function(){
    $('a.ausklapp').click(function() {
        $(this).children('p').toggleClass('open');
        $(this).next().slideToggle(500, function(){
            $.scrollTo($(this), 500);
            });
        return false;
    }).next().hide();
    // $('a.ausklapp:first').children('p').toggleClass('open');
    // $('a.ausklapp:first').next().slideDown();
        //thaths the hash-shizzle
    if ( window.location.hash != '') {
        var hash=window.location.hash.substr(1)
    //get hash, scroll to position
        $('#a'+hash).children('p').addClass('open');
        $('#a'+hash).next().slideDown(500,function(){
            $.scrollTo($(this), 500);
            });
    }

});
</script>
{% endcomment %}
