{% load feinheit_base feinheit_thumbnail %}
{% for object in object_list %}
<div class="append-bottom">
<a class="ausklapp h2" href="#{{ object.translation.slug }}" id="a{{ object.translation.slug }}" name="a{{ object.translation.title }}"><span>{{ object.datetime|date:"j. N" }}: {{ object.translation.title }}</span></a>
<div class="ausklapp_content event span-15 last prepend-top" {% context_menu object %}>
    <div class="event-text {% if object.image %}span-11{% else %}span-15 last{% endif %}">
        <p class="byline">{{ object.datetime|date:"SHORT_DATE_FORMAT" }} {{ object.datetime|time:"H:i" }}</p>
            {{ object.translation.description|safe }}
    </div>          
    {% if object.image %}
    <div class="event-image span-4 last">
       <a href="{{ object.image.file.name|thumbnail:'600x600' }}" class="event-image image">
		<img src="{{ object.image.file.name|cropscale:'150x180' }}" alt="" />
	   </a>
	</div>
    {% endif %}
</div>
</div>
{% endfor %}

<script>
SQ.add(function(){
    $('a.ausklapp').click(function() {
        $(this).children('span').toggleClass('open');
        $(this).next().slideToggle(500, function(){
            $.scrollTo($(this), 500);
            });
        return false;
    }).next().hide();
    $('a.ausklapp:first').children('span').toggleClass('open');
    $('a.ausklapp:first').next().slideDown();
        //thaths the hash-shizzle
    if ( window.location.hash != '') {
        var hash=window.location.hash.substr(1)
    //get hash, scroll to position
        $('#a'+hash).children('span').addClass('open');
        $('#a'+hash).next().slideDown(500,function(){
            $.scrollTo($(this), 500);
            });
    }
    $('.event-image').fancybox();

});
</script>

{% comment %}
Aufklapp JS:
Benötigt jQuery.scrollTo für scrollTo.

{% endcomment %}
